{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/sweetalert2/sweetalert2.min.css' %}">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>

    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% if not clean_view %}
        {% include 'pos/sidebar.html' %}
        {% endif %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% if not clean_view %}
                {% include 'pos/navbar.html' %}
                {% endif %}
                <!-- End of Topbar -->

                {% block page_content_wrapper %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{% block heading %}{% endblock %}</h1>
                    </div>

                    <!--Messages will appear here-->
                    {% include 'pos/messages.html' with messages=messages%}

                    <!--Page content goes here-->
                    {% block content %}{% endblock content %}


                </div>
                <!-- /.container-fluid -->
                {% endblock page_content_wrapper %}

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% if not clean_view %}
            {% include 'pos/footer.html' %}
            {% endif %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Exchange Rate Modal-->
    {% include 'core/exchange_rate_modal.html' %}
    <!-- End of Exchange Rate Modal-->

    <!-- Logout Modal-->
    {% include 'pos/logout_modal.html' %}
    <!-- End ofLogout Modal-->


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!--JavaScript to dissapear messagess automatically-->
    {% comment %} <script type='text/javascript' src="{% static 'js/dissapear_messages.js' %}"></script> {% endcomment %}

    <script src="{% static 'vendor/sweetalert2/sweetalert2.all.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

    <script>
        $(document).ready(function() {
            // Check if exchange_rate_exists is false and show the modal
            if ("{{ exchange_rate_exists }}" === "False") {
                $('#exchangeRateModal').modal({
                    backdrop: 'static', // Prevent closing by clicking outside
                    keyboard: false // Prevent closing by pressing escape key
                });
                $('#exchangeRateModal').modal('show');
            }
        });
    </script>

</body>

</html>