{% load static %}
{% load i18n %}

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>{% trans "Copyright &copy;" %} <a href="https://github.com/Rodrimarlon/Django-POS_VE?tab=readme-ov-file#tech-stack">Marlon Rodriguez</a>  <strong id='year'></strong></span>
        </div>
    </div>
    <script>
        let year_el = document.getElementById('year');
        let date = new Date()
        year_el.innerText = date.getFullYear().toString();
    </script>
</footer>
