{% extends "pos/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "POS" %}{% endblock title %}

{% block stylesheets %}
    <link href="{% static 'css/pos/pos.css' %}?v=fresh-start" rel="stylesheet">
{% endblock stylesheets %}

{% block page_content_wrapper %}
<div class="pos-container">
    <header class="pos-header">
        <div class="pos-header-left">
            <!-- Header left content will go here -->
            <button class="btn btn-light">{% trans "Orders" %}</button>
        </div>
        <div class="pos-header-right">
            <!-- Header right content will go here -->
            <div class="search-bar">
                <input type="text" id="product-search" class="form-control" placeholder="{% trans 'Search products...' %}">
            </div>
            <div class="user-menu dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.username}}</span>
                    <img class="img-profile rounded-circle"
                        src="{% static 'img/undraw_profile.svg' %}">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans "Logout" %}
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main class="pos-content">
        <div class="left-pane">
            <div class="order">
                <div class="order-body">
                    <div class="orderlines-table">
                        <div class="orderlines-header">
                            <div class="col-product">Producto</div>
                            <div class="col-qty">Cant.</div>
                            <div class="col-price">Precio</div>
                            <div class="col-discount">%</div>
                            <div class="col-total">Total</div>
                            <div class="col-remove"></div>
                        </div>
                        <div class="orderlines-body" id="orderlines-body">
                            <!-- JS will populate this list -->
                        </div>
                    </div>
                </div>
                <div class="order-footer">
                    <div class="totals">
                        <span class="total-row total-row-label">Total</span>
                        <span class="total-ves total-row" id="total-ves">Bs. 0.00</span>
                        <span class="separator total-row">|</span>
                        <span class="total-usd total-row total-row-primary" id="total-usd">$ 0.00</span>
                    </div>
                    <div class="actions">
                        <button class="btn-action-icon">
                            <i class="fas fa-cogs"></i>
                        </button>
                        <button class="btn-customer">
                            <i class="fas fa-user"></i>
                            Customer
                        </button>
                        <button class="btn-payment">
                            <i class="fas fa-money-bill-wave"></i>
                            Payment
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-pane">
            <div class="category-filters">
                <div id="category-buttons" class="category-buttons">
                    <!-- Category buttons will be injected by JS -->
                </div>
                <select id="category-dropdown" class="category-dropdown form-control">
                    <!-- Category options will be injected by JS -->
                </select>
            </div>
            <div id="product-list" class="product-list">
                <!-- Product cards will be injected by JS -->
            </div>
        </div>
    </main>

    <button id="panel-switcher" class="panel-switcher-btn">
        <i class="fas fa-list-alt"></i>
    </button>
</div>

<!-- Modals will be here -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans "Ready to Leave?" %}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">{% trans "Select \"Logout\" below if you are ready to end your current session." %}</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancel" %}</button>
                <a class="btn btn-primary" href="{% url 'authentication:logout' %}">{% trans "Logout" %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock page_content_wrapper %}

{% block javascripts %}
    {{ product_list_api_url|json_script:"product_list_api_url" }}
    {{ categories_list_api_url|json_script:"categories_list_api_url" }}
    {{ exchange_rate|json_script:"exchange_rate" }}
    <script src="{% static 'js/pos/pos.js' %}?v=fresh-start"></script>
{% endblock javascripts %}