{% load static %}
{% load i18n %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'pos:index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Agririego</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider  mb-0">

    <!-- Nav Item - Dashboard -->
    <li class="{% if "dashboard" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'pos:index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans "Dashboard" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - POS -->
    <li class="{% if "pos" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'pos:pos' %}">
            <i class="fas fa-fw fa-cash-register"></i>
            <span>{% trans "POS" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Inventory -->
    <li class="{% if "products" in active_icon or "products_products" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'products:products_list' %}">
            <i class="fas fa-fw fa-tag"></i>
            <span>{% trans "Inventory" %}</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Customers -->
    <li class="{% if "customers" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'customers:customers_list' %}">
            <i class="fas fa-fw fa-users"></i>
            <span>{% trans "Customers" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Suppliers -->
    <li class="{% if "suppliers" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'suppliers:supplier_list' %}">
            <i class="fas fa-fw fa-truck"></i>
            <span>{% trans "Suppliers" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Payment Methods -->
    <li class="{% if "payment_methods" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'core:payment_method_list' %}">
            <i class="fas fa-fw fa-money-check-alt"></i>
            <span>{% trans "Payment Methods" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Company -->
    <li class="{% if "company" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'core:company_view' %}">
            <i class="fas fa-fw fa-building"></i>
            <span>{% trans "Company" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Exchange Rates -->
    <li class="{% if "exchange_rates" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'core:exchange_rate_list' %}">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>{% trans "Exchange Rates" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Sales -->
    <li class="{% if "sales" in active_icon %} nav-item active {% else %} nav-item {% endif %}">
        <a class="nav-link" href="{% url 'sales:sales_list' %}">
            <i class="fas fa-fw fa-cart-plus"></i>
            <span>{% trans "Sales" %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>