{% extends "pos/base.html" %}
{% load static %}
{% load i18n %}
<!-- Page title  -->
{% block title %}{% trans "Customers" %}{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<link href="{% static 'css/pagination_buttons.css ' %}" rel="stylesheet">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}{% trans "Customers" %}{% endblock heading %}

<!-- Page content  -->
{% block content %}

    <!-- DataTable -->
    <div class="card shadow mb-12">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{% trans "Customers" %}</h6>
            <a href="{% url 'customers:customers_add' %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">{% trans "Create new customer" %}</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{% trans "ID" %}</th>
                            <th style="width:5%">#</th>
                            <th style="width:15%">{% trans "Cedula/Rif" %}</th>
                            <th style="width:20%">{% trans "Name" %}</th>
                            <th style="width:25%">{% trans "Email" %}</th>
                            <th style="width:15%">{% trans "Phone" %}</th>
                            <th style="width:20%">{% trans "Address" %}</th>
                            <th class="text-center" style="width:10%">{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in customers %}
                        <tr>
                            <td>{{c.id}}</td>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.tax_id}}</td>
                            <td>{{c.get_full_name}}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.phone}}</td>
                            <td>{{c.address}}</td>
                            <td class="text-center">
                                <!--Update-->
                                <a href="{% url 'customers:customers_update' c.id %}" class="text-decoration-none">
                                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" title="{% trans "Update customer" %}">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </a>
                                <!--Delete modal-->
                                <!-- Button trigger modal -->
                                <a class="text-decoration-none">
                                    <button rel="delete" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </a>
                                    
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{% trans "Delete customer" %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div id="updateThisText" class="modal-body">
                                            {% trans "Are you sure you want to delete the customer:" %} {{c.name}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                                            <a id="updateThisURL" href="{% url 'customers:customers_delete' c.id %}" class="text-decoration-none">
                                                <button type="button"  class="btn btn-danger">{% trans "Delete" %}</button>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--Datatable buttons-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.print.min.js"></script>
<!--Moment JS-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!--Datatables-->
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        tblCategories = $('#dataTable').DataTable({
            dom: 'Bfrtip', // Buttons are draw at this element
            buttons: [
                {
                extend: 'print',
                text: '{% trans "Print" %} <i class="fas fa-file ml-2"></i>',
                titleAttr: '{% trans "Print" }',
                className: 'btn btn-info',
                exportOptions: {
                    columns: [ 1, 2, 3, 4, 5, 6 ]
                }            
                },
                {
                    extend: 'excelHtml5',
                    text: '{% trans "Download Excel" %} <i class="fas fa-file-excel ml-2"></i>',
                    titleAttr: '{% trans "Download Excel" }',
                    className: 'btn btn-success ml-2',
                    exportOptions: {
                        columns: [ 1, 2, 3, 4, 5, 6 ]
                    } 
                },
                {
                    extend: 'pdfHtml5',
                    text: '{% trans "Download PDF" %} <i class="fas fa-file-pdf ml-2"></i>',
                    titleAttr: '{% trans "Download PDF" }',
                    className: 'btn btn-danger ml-2',
                    download: 'open',
                    orientation: 'vertical',
                    pageSize: 'A4',
                    title: '*',
                    exportOptions: {
                        columns: [ 1, 2, 3, 4, 5, 6 ]
                    }
                }
            ],
            deferRender: true,
            columnDefs: [
                {
                    targets: [0],
                    visible: false,
                    searchable: false,
                },
                {
                    targets: [-1], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }
            ],
        });
    });

    // Alert when trying to delete a customer
    $('#dataTable tbody')
    // Event when whe try to delete a customer
    // We update the text, and href of the modal delete button
    .on('click', 'button[rel="delete"]', function () {
    // Row variable
    var tr = tblCategories.cell($(this).closest('td, li')).index();
    row_data = ( tblCategories.row(tr.row).data());
    customer_id = row_data[0];
    customer_name = row_data[2]
    new_delete_url  = 'delete/' + customer_id;
    document.getElementById("updateThisText").innerHTML = "{% trans "Are you sure you want to delete the customer:" %} " + customer_name + "?";
    document.getElementById("updateThisURL").href=new_delete_url;
    });
</script>
{% endblock javascripts %}